.gtext {
  color: var(--gradient-color1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.gcolor {
  color: var(--gradient-color1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--linear)
}

.gbg {
  background-color: var(--gradient-color1);
  background-image: var(--linear)
}

.ggolden {
  padding-right: .05333rem;
  color: var(--gradient-color1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--gradient-color1);
  background-image: linear-gradient(119deg, #f7b149 0%, #fbedb9 100%);
}

.input-btn {
  right: 0;
  bottom: 0;
  height: .69333rem;
  line-height: .69333rem;
  border-top-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

::-moz-placeholder {
  color: var(--tips-color);
  font-size: .32rem
}

::placeholder {
  color: var(--tips-color);
  font-size: .32rem
}

.border-radius {
  border-radius: var(--border-radius)
}

.bg-input {
  background-color: var(--bg-input)
}


.light {
  position: relative
}

.light:after {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(115deg, #f7e39e 5%, #f3c785 10%, #f7e39e 15%, transparent 20%);
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 3s infinite;
  content: attr(data-text);
  -webkit-text-fill-color: transparent
}

@keyframes animate {
  0% {
    background-position: 0;
    opacity: 1
  }

  10% {
    background-position: 5.33333rem;
    opacity: 1
  }

  11% {
    background-position: 5.33333rem;
    opacity: 0
  }

  to {
    background-position: 0;
    opacity: 0
  }
}

.icon-error {
  width: .93333rem;
  height: .93333rem;
  background: url(https://img.hash.best/icon/icon_error.png) center / contain no-repeat
}

.icon-success {
  width: .93333rem;
  height: .93333rem;
  background: url(https://img.hash.best/icon/icon_success.png) center / contain no-repeat
}

.icon-exclamation {
  width: .93333rem;
  height: .93333rem;
  background: url(https://img.hash.best/icon/icon_exclamation.png) center / contain no-repeat
}

.link-arrow {
  animation: fade .3s linear infinite
}

@keyframes fade {
  0% {
    opacity: 1
  }

  to {
    opacity: .2
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gborder {
  position: relative;
  z-index: 1;
  padding: var(--0601002c);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px;
}

.gborder_container {
  border-radius: 50%;
}

.border_line {
  --rotate: var(--5eaeaae9);
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--0601002c);
  background-color: var(--08de080a);
  background-image: conic-gradient(from var(--rotate), var(--08de080a), var(--08de0829), var(--08de0848), var(--08de080a));
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: var(--38acb9a0);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-clip: var(--m-o);
  -webkit-mask-composite: xor;
  mask-composite: exclude
}

.border_scroll {
  animation: border-scroll 3s infinite linear
}

@keyframes border-scroll {
  0% {
    --rotate: 0deg
  }

  to {
    --rotate: 360deg
  }
}

input {
  background-color: transparent;
  border: 0;
  width: 100%;
  /* min-height: calc(var(--base) * 28); */
  font-size: calc(var(--base) * 24);
  color: var(--green);
  font-weight: 600
}

.btn_default {
  font-weight: 700;
  border-radius: var(--border-radius);
  box-shadow: 0 .13333rem .26667rem -.13333rem var(--btn-shadow-color);
  transition: transform .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: white;
  background: var(--linear);
  border: 0px;
  --btn-shadow-color: var(--gradient-color2);
  font-size: calc(var(--base) * 16);
  min-width: calc(var(--base) * 152);
  height: calc(var(--base) * 42);
  line-height: calc(var(--base) * 42);
  text-align: center;
}

.navbar_wrap {
  position: sticky;
  top: 0;
}

.input-btn {
  right: 0;
  bottom: 0;
  height: 0.69333rem;
  line-height: 0.69333rem;
  border-top-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html body #app svg {
  width: 100%;
  height: 100%;
}

.loading {
  aspect-ratio: 1;
  background:
    linear-gradient(var(--gradient-color1) 0 0),
    linear-gradient(var(--gradient-color2) 0 0),
    var(--gradient-color3);
  background-repeat: no-repeat;
  animation: l1 1.5s infinite;
  position: absolute;
  top: 0;
  left: 0;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  background:
    linear-gradient(#00AAFF 0 0),
    linear-gradient(#FF00AA 0 0),
    #00AAFF;
  background-repeat: no-repeat;
  animation: l1 1.5s infinite;
}

@keyframes l1 {
  0% {
    background-size: 100% 0, 0 100%
  }

  30%,
  50% {
    background-size: 100% 0, 100% 100%
  }

  80%,
  100% {
    background-size: 100% 100%, 100% 100%
  }
}
