.gradient-text {
  padding-right: 0.05333rem;
  color: var(--gradient-color1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(145deg, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3));
}
