.text-color {
  color: var(--text-color);
}

.title-color {
  color: var(--title-color);
}

.bg_input {
  background-color: var(--bg-input);
}

.sub-text-color {
  color: var(--sub-text-color);

}

.green {
  color: var(--green);

}

.red {
  color: var(--red);

}

.yellow {
  color: var(--yellow);

}
