:root {
	--base: calc(100vw / 414);
	--cubic: cubic-bezier(0.5, 1, 0.89, 1);
	--theme: #D0FE00;
	--theme2: #F5EA16;
	--010101: #010101;
	--b1b1b1: #b1b1b1;
	--5a5a5a: #5a5a5a;
	--fff: #fff;
	--a5a4a9: #A5A4A9;
	--000: #000;
	--fb2a40: #FB2A40;
	--139602: #139602;
	--1b1b1b: #1b1b1b;
	--2c3012: #2C3012;
	--141414: #141414;
	--111: #111;
	--616161: #616161;
	--232323: #232323;
	--383838: #383838;
	--fe000e: #FE000E;
	--fe160e: #FE160E;
	--424242: #424242;
	--themeLinear: linear-gradient(180deg, #D0FE00 0%, #F5EA16 100%);
	--browser-toolbar-height: 0px;
	--vh: 1vh;
	--safe-area-inset-bottom: 0;
}

@supports (bottom: env(safe-area-inset-bottom)) {
	:root {
		--safe-area-inset-bottom: env(safe-area-inset-bottom);
	}
}