html body {
  .van-popup--center.popup {
    width: 9.46667rem;
    max-width: 9.46667rem;
    border-radius: var(--border-radius);
  }

  .van-popup--center {
    min-width:75vw;
    max-width: 90vw;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    overflow: hidden;
    border-radius: 0.7rem;
  }

  .popup {
    overflow: hidden;
    background-color: var(--bg-color);
  }
}
